<mat-grid-list cols="6" rowHeight="200px">
    <mat-grid-tile colspan="6" rowspan="1">
        <h1>Menu</h1>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="2">
       
    </mat-grid-tile>

    <mat-grid-tile colspan="4" rowspan="3" style="background: lightgreen">
        <div id="mapa" style="width: 100%; height: 100%;">
            Map Here
        </div>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="2">
       
    </mat-grid-tile>

    <mat-grid-tile colspan="6" rowspan="1"></mat-grid-tile>
    
</mat-grid-list>
